<style>
.center{
    position:absolute;
    width:1200px;
    height:650px;
	
    top:50%;
	
	margin-left:0%;

}
td, th {
    border: 1px solid black;
	border-width: 3px;
}
table {
margin-bottom: 70px
}

</style>



{%  extends 'dresscodeapp/template.html' %}
{% load staticfiles %}
 {% block content %}
        {%if questions %}
<table  class="center" id="questions_table"  background="http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg" >
	<tr>
		{% for question in questions%}
		<td id="question{{ question.pk }}">
		<br></br>
			<div style="text-align:center"> 
				<h3>
					<b>{{ question.title }} </b>
				</h3>
				<h5>{{ question.description }} </h5>
				<p>{% if question.clothing_items%}
					{% for clothing_item in question.clothing_items.all %}
					<li>{{ clothing_item.type }}- Color: {{ clothing_item.color }}, Pattern: {{ clothing_item.pattern }}</li>
					{% endfor %}
					{%endif%}</p>
			</div>
			<div align="middle">
				<img id="pic{{ question.pk }}" style="border-radius: 20px 20px 20px 20px;" src=  "{% static question.photo_path %}" alt=""
						class="img-thumbnail" style="width: 50%; height: 50%"/>
			</div>
			<div style="text-align:center">
				<p>
					<br>
					</p>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" id="checkbox{{ question.pk }}">Clothing items don't fit the photo</label>
						</div>
						<p>
							<br>
							</p>
							<button id="yay{{ question.pk }}" type="button" class="btn-custom"
									onclick="postAnswer({{ question.pk }}, 1, {{ question.user.score }})">
								<span
										class="glyphicon glyphicon-thumbs-up">
								</span><b> PERFECT MATCH!</b>
							</button>
							<button id="meh{{ question.pk }}" type="button" class="btn-custom"
									onclick="postAnswer({{ question.pk }}, 0, {{ question.user.score }})">
								<b>MAYBE TO SOMEWHERE ELSE</b>
							</button>
							<button id="nay{{ question.pk }}" type="button" class="btn-custom"
									onclick="postAnswer({{ question.pk }}, 2, {{ question.user.score }})">
								<span
										class="glyphicon glyphicon-thumbs-down">
								</span><b> DOESNT FIT</b>
							</button>
						</div>
						<br>
						<br></br>
						</td>
						<td id="thanks{{ question.pk }}" hidden="true">
							<div id="msg{{ question.pk }}" class="panel panel-info"
									style="width: 160px; text-align: center;">
								<div id="msgText{{ question.pk }}" class="panel-heading"/>
							</div>
						</td>
						<br/>
					</tr>
					{%endfor%}
				</table>
				{%else %}
				<div> no new questions for you! ask your own!</div>
				{%endif%}
				{% endblock %}
				<div>
					<button id="reload" type="button" class="btn" style="display: none;"
							onclick="reload()">Load more Looks!</button>

				</div>
				<div>

			