<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>DressCode</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="//fonts.googleapis.com/css?family=Quicksand&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Bungee+Inline&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/casino.css' %}"> -->
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
			var CSRF_TOKEN = '{{ csrf_token }}';
    </script>
</head>
<body>
<div class="page-header">
    <h1><a href="#">DressCode</a></h1>
    <nav class="nav">
        <ul>
            <li>
                <a href="#">{{ request.user.username }}</a>
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div id="main" class="content container">
    <div class="row col-md-8">
        {% block content %}
        {%if questions %}
        <div id="feed" class="question_container">
            <table id="questions_table">
                <tr>
                    {% for question in questions%}
                    <td id="question{{ question.pk }}">
                        <div>
                            <h3><b>{{ question.title }} </b></h3>
                            <h5>{{ question.description }} </h5>
                            <p> {{ question.due_date }} </p>
                        </div>
                        <div>
                            <img id="pic{{ question.pk }}" style="border-radius: 20px 20px 20px 20px;" src={{
                                 question.photo_path }}
                                 alt=""
                                 class="homeImage"/>
                        </div>
                        <div>
                            <p><br></p>
                            <button id="yay{{ question.pk }}" type="button" class="btn btn-success"
                                    onclick="postAnswer({{ question.pk }}, 1, {{ question.user.score }})"><span
                                    class="glyphicon glyphicon-thumbs-up"></span></button>
                            <button id="meh{{ question.pk }}" type="button" class="btn"
                                    onclick="postAnswer({{ question.pk }}, 0, {{ question.user.score }})"><span
                                    class="glyphicon glyphicon-minus"></span></button>
                            <button id="nay{{ question.pk }}" type="button" class="btn btn-danger"
                                    onclick="postAnswer({{ question.pk }}, 2, {{ question.user.score }})"><span
                                    class="glyphicon glyphicon-thumbs-down"></span></button>
                            <!-- <p> <br> </p> -->
                        </div>
                    </td>
                    <td id="thanks{{ question.pk }}" hidden="true">
                        <div id="msg{{ question.pk }}" class="panel panel-info"
                             style="width: 160px; text-align: center;">
                            <div id="msgText{{ question.pk }}" class="panel-heading"></div>
                        </div>
                    </td>
                    <br/>
                </tr>
                {%endfor%}
                </tr>
            </table>
            {%else %}
            <div> no new questions for you! ask your own!</div>
            {%endif%}
            {% endblock %}
            <div>
                <button id="reload" type="button" class="btn" style="display: none;"
                        onclick="reload()">Load more Looks!</button>

            </div>
        </div>
    </div>
</div>
</body>
</html>