<style>

.my-btn{
	background-color: #000000;
	color: white;
	padding: 12px 20px;
	margin: 10px 2px;
	border: none;
	cursor: pointer;
	text-align: center;
}
.my-btn:hover {
	background-color: #a39a99;
	color: white;
}

</style>

{%  extends 'dresscodeapp/template.html' %}


{% block content %}
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">

					<div id="clothing-items">
						<p>
							<b>Choose clothing items to filter on:</b>
						</p>
						<table id="items">
							<tr>
								<td class='col-md-2'>
									<select class="form-control">
										<option value="" selected disabled>Item</option>
							{% for item in clothingItems %}  
										<option value="{{ item.0 }}">{{item.1}}</option>
							{%endfor%}
									</select>
								</td>
								<td class='col-md-2'>
									<select class="form-control">
										<option value="" selected disabled>Color</option>
								{% for color in colors %}  
										<option value="{{ color.0 }}">{{color.1}}</option>
								{%endfor%}
									</select>
								</td>
								<td class='col-md-2'>
									<select class="form-control">
										<option value="" selected disabled>Pattern</option>
								{% for pattern in patterns%}
										<option value="{{ pattern.0 }}">{{pattern.1}}</option>
								{%endfor%}
									</select>
								</td>
								<td class='col-md-2'>
									<button class="btn btn" type="button" onclick="addClothingItemRow()">
										<span class="glyphicon glyphicon-plus"/>
									</button>
									<button class="btn btn" type="button" onclick="removeClothingItemRow(this)">
										<span class="glyphicon glyphicon-minus"/>
									</button>
								</td>
							</tr>

						</table>
					</div>
					<br>
						<div>
							<br>
							</div>
							<p>
								<b>Choose gender to filter on:</b>
							</p>
							<div class="col-md-6">
								<div class="form-group">
									<select id="gender" class="form-control">
										<option value="" selected disabled>Gender</option>
										<option value="m">Male</option>
										<option value="f">Female</option>
									</select>
								</div>
							</div>
							<div>
								<br>
								</div>
								<br>
									<div>
										<br>
										</div>
										<div style="text-align:center"> 
										<input type="submit" class="my-btn" value="Filter questions" onclick="filterQuestions()" >
										</div>  
											<div id="output" class="panel-heading"/>


											<script>
								$(document).ready(function(){
								  var date_input=$('input[name="date"]'); //our date input has the name "date"
								  var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
								  var options={
									format: 'mm/dd/yyyy',
									container: container,
									todayHighlight: true,
									autoclose: true,
								  };
								  date_input.datepicker(options);
								})
											</script>
											<script type="text/javascript">
			var CSRF_TOKEN = '{{ csrf_token }}';
											</script>
										</div>
									</div>
								</div>
						{% endblock %}
						