<style>
.center{
    position:absolute;
    width:1150px;
    height:650px;
	
    top:50%;
	
	margin-left:0%;

}

table {
margin-bottom: 70px
}

.my-btn{background-color: #000000;
                      color: white;
                      padding: 12px 20px;
                      margin: 10px 2px;
                      border: none;
                      cursor: pointer;
                      
                      
                      
                      text-align: center;
		}
		
img {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
	margin-right:10%;
}
.text {
   display: inline-block;
    vertical-align: middle;
}

.mycss
{
font-weight:normal;color:#FFFFFF;background-color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:30px;text-align:middle;font-family:impact, sans-serif;line-height:1;margin:0px;padding:0px;
 padding: 12px 20px;
}

.mycss2
{
font-weight:normal;color:#FFFFFF;background-color:#9E9E9E;letter-spacing:1pt;word-spacing:2pt;font-size:21px;text-align:middle;font-family:impact, sans-serif;line-height:1;margin:0px;padding:0px;
padding: 5px 20px;
}

.mycss3
{
font-weight:normal;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:left;line-height:1;margin:0px;padding:10px;width:400px;
}

.mycss4
{
font-weight:bold;text-decoration:underline;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:left;line-height:1;margin:0px;padding:10px;width:400px;
}
.mycss5
{
font-weight:bold;color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:middle;line-height:1;margin:0px;padding:10px; left: 50%;
}
.mycss6
{
font-weight:bold;color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:center;line-height:1.5;margin:0px;padding:5px;left: 50%;
}

.mycss7
{
font-weight:bold;color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:30px;text-align:center;line-height:1.5;margin:0px;padding:5px;left: 50%;margin-top:-50px;

}


</style>
{%  extends 'dresscodeapp/template.html' %}
{% load staticfiles %}
{% block content %}
{%if questions %}
<table class="center" id="top_table">
    <tr id="gettoknowyou">
        <td>
            <div style="width:100%"
                 background="http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg">
                <p class="mycss7">
                    Before you ask your own questions and help other users get their perfect looks,
                    
                    we wish to get to know you better!
                    <br>
                    Please answer the following questions:
                </p>
            </div>
        </td>
    </tr>
    <tr >
        <td>
            <table class="center" id="questions_table" 
                   background="http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg">
                {% for question in questions%}
                <tr>
                    <td id="question{{ question.pk }}">
                        <div style="text-align:center">
                            <p class="mycss">
                                {{ question.title }}
                            </p>
                            <p class="mycss2">{{ question.description }} </p>
                        </div>
                        <br>
                        <div class="cf" align="middle">
                            <img id="pic{{ question.pk }}" style="border-radius: 20px 20px 20px 20px;" src="{% static question.photo_path %}" alt="" class="img-thumbnail" style="width: 50%; height: 50%"/>
                            <div class="text">
                                <p>
                                    {% if question.clothing_items%}
                                        <p class="mycss4"> Clothing items:</p>
                                    {% for clothing_item in question.clothing_items.all %}
                                        <p class="mycss3">{{ clothing_item.get_type_display }}- Color: {{clothing_item.get_color_display }}, Pattern: {{ clothing_item.get_pattern_display}}</p>
                                    {% endfor %}
                                    {%endif%}
                                </p>
                            </div>
                        </div>
                        <div style="text-align:center">
                            <p>
                                <br>
                            </p>
                            <button id="yay{{ question.pk }}" type="button" class="my-btn my-btn-yay" style="border:2px solid; border-radius: 25px;" onclick="postPreAnswer({{ question.pk }}, 1, {{ questions|length }})">
					            <span class="glyphicon glyphicon-thumbs-up"></span><b> PERFECT MATCH!</b>
                            </button>
                            <button id="meh{{ question.pk }}" type="button" class="my-btn my-btn-meh" style="border:2px solid; border-radius: 25px;" onclick="postPreAnswer({{ question.pk }}, 0,{{ questions|length }})">
                                <b>MAYBE TO SOMEWHERE ELSE</b>
                            </button>
                            <button id="nay{{ question.pk }}" type="button" class="my-btn my-btn-nay" style="border:2px solid; border-radius: 25px;" onclick="postPreAnswer({{ question.pk }}, 2,{{ questions|length }})">
                                <span class="glyphicon glyphicon-thumbs-down"></span><b> DOESNT FIT</b>
                            </button>
                        </div>
                        <br>
                        <br>
                    </td>
                    <td id="thanks{{ question.pk }}" hidden="true">
                        <div align="center" id="msgText{{ question.pk }}" class="bg-success text-white"/>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </td>
    </tr>
</table>
<div id="divreload" class="cf" valign="bottom" style="width:100%  margin-left:3%" hidden="true">
    <p class="mycss5" style="position: relative; align:middle"> <br> We're getting things ready for you. <br><br> You will be redirected to your feed in a few moments... <br><br></p>
    <div class="loader" style="position: relative; align:middle ;margin-left:65%"></div>
</div>
{%endif%}
{% endblock %}