<style>

.my-btn{
	background-color: #000000;
	color: white;
	padding: 12px 20px;
	margin: 10px 2px;
	border: none;
	cursor: pointer;
	text-align: center;
}
.my-btn:hover {
	background-color: #a39a99;
	color: white;
}

</style>
{%  extends 'dresscodeapp/template.html' %}

{% block content %}
<div class="container">
   <div class="panel panel-default">
      <div class="panel-body">
		  {% if score >= 10 %}
		  <form name="postqform" onsubmit="return postQuestion()" method="post">
			  {% csrf_token %}
         <div class="row">
	         <div class='col-md-6'>
	               <div class="form-group">
	                  <label class="control-label">Due Date</label>
	                  <div class="input-group date" data-provide="datepicker">
						<input class="form-control" id="date" name="date" data-format="MM/DD/YYY" placeholder="MM/DD/YYY" type="text" required/>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
	               </div>
	            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Title</label>
                  <select id="title" class="form-control" required>
							<option value="" selected disabled>Event</option>
							<option>First date</option>
							<option>Holiday dinner</option>
							<option>Job interview</option>
							<option>First day at school</option>
							<option>First day at new job</option>
							<option>Wedding</option>
							<option>Bar-Mitzva</option>
					  		<option>Party</option>
						  	<option>Ordinary day</option>
						  	<option>Sport event</option>
						  	<option>Going out with friends</option>
						  	<option>Beach or Pool</option>
						  	<option>Work event</option>
					  		<option>Movies or theater</option>
						  	<option>Presentation or show</option>
					  		<option>Family meeting</option>
						  	<option>Other</option>
				  </select>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="form-group">
				  <label for="comment">Description</label>
				  <textarea class="form-control" rows="5" id="comment" required></textarea>
				</div>
            </div>
         </div>
         <div id="clothing-items">
			 <table id="items">
				 <tr>
					<td class='col-md-2'>
						<select class="form-control" required>
							<option value="" selected disabled>Item</option>
							<option value="1">T-Shirt</option>
							<option value="2">Shirt</option>
							<option value="6">Hoodie</option>
							<option value="10">Suit</option>
							<option value="3">Short Pants</option>
							<option value="13">Jeans</option>
							<option value="11">Pants</option>
							<option value="7">Dress</option>
							<option value="12">Skirt</option>
							<option value="5">Shoes</option>
							<option value="9">Swim Suit</option>
							<option value="4">Hat</option>
                            <option value="14">Tie</option>
                            <option value="15">Scarf</option>
                            <option value="16">Jacket</option>
						  </select>
						</td>
						<td class='col-md-2'>
							<select class="form-control" required>
								<option value="" selected disabled>Color</option>
								<option value="1">Blue</option>
								<option value="2">Red</option>
								<option value="3">Black</option>
								<option value="4">White</option>
								<option value="5">Purple</option>
								<option value="6">Green</option>
								<option value="7">Yellow</option>
								<option value="8">Brown</option>
								<option value="9">Grey</option>
							  </select>
						</td>
						<td class='col-md-2'>
							<select class="form-control" required>
								<option value="" selected disabled>Pattern</option>
								<option value="1">None</option>
								<option value="2">Stripes</option>
								<option value="3">Dots</option>
								<option value="4">Checked</option>
							 </select>
						</td>
						<td class='col-md-2'>
							<button class="btn btn" type="button" onclick="addClothingItemRow()"><span class="glyphicon glyphicon-plus"></span></button>
							<button class="btn btn" type="button" onclick="removeClothingItemRow(this)"><span class="glyphicon glyphicon-minus"></span></button>
						</td>
				 </tr>
				 </table>
			 </div>
<div><br></div>
		  <br>
         <input type="file" id="pic" name="pic" accept="image/*" required>
         <div><br></div>
         <div style="text-align:center"> 
         <input type="submit" class="my-btn" value="Submit">
         </div>
         </form>
		  {%else%}
		  <div>
			  <p>you don't have enough credit! Answer some other people's questions and come by later :)</p>
			  <p><a href="/questionsfeed/">Your feed</a></p>
		  </div>
		  {%endif%}
      </div>
   </div>
</div>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })

    var dateToday = new Date();
	var dates = $("#date").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 3,
    minDate: dateToday,
    onSelect: function(selectedDate) {
        var option = "minDate",
            instance = $(this).data("datepicker"),
            date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
        dates.not(this).datepicker("option", option, date);
    }
});
</script>
<script type="text/javascript">
			var CSRF_TOKEN = '{{ csrf_token }}';
</script>
{% endblock %}