{%  extends 'dresscodeapp/base.html' %}

{% block content %}
<div class="container">
   <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
         <div class="row">
	         <div class='col-md-6'>
	               <div class="form-group">
	                  <label class="control-label">Due Date</label>
	                  <div class="input-group date" data-provide="datepicker">
						<input class="form-control" id="date" name="date"  data-format="MM/DD/YYY" placeholder="MM/DD/YYY" type="text"/>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
	               </div>
	            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Title</label>
                  <select id="title" class="form-control">
							<option value="" selected disabled>Event</option>
							<option>First date</option>
							<option>Holiday dinner</option>
							<option>Job interview</option>
							<option>First day at school</option>
							<option>First day at new job</option>
							<option>Wedding</option>
							<option>Bar-Mitzva</option>
				  </select>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="form-group">
				  <label for="comment">Description</label>
				  <textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
            </div>
         </div>
         <div id="clothing-items">
			 <table id="items">
				 <tr>
					<td class='col-md-2'>
						<select class="form-control">
							<option value="" selected disabled>Item</option>
							<option>T-Shirt</option>
							<option>Shirt</option>
							<option>Hoodie</option>
							<option>Hoodie</option>
							<option>Suit</option>
							<option>Short Pants</option>
							<option>Jeans</option>
							<option>Pants</option>
							<option>Dress</option>
							<option>Skirt</option>
							<option>Shoes</option>
							<option>Swim Suit</option>
							<option>Hat</option>
						  </select>
						</td>
						<td class='col-md-2'>
							<select class="form-control">
								<option value="" selected disabled>Color</option>
								<option>Blue</option>
								<option>Red</option>
								<option>Black</option>
								<option>White</option>
								<option>Purple</option>
								<option>Green</option>
								<option>Yellow</option>
								<option>Brown</option>
								<option>Grey</option>
							  </select>
						</td>
						<td class='col-md-2'>
							<select class="form-control">
								<option value="" selected disabled>Pattern</option>
								<option>None</option>
								<option>Stripes</option>
								<option>Dots</option>
								<option>Checked</option>
							 </select>
						</td>
						<td class='col-md-2'>
							<button class="btn btn-warning" type="button" onclick="addClothingItemRow()"><span class="glyphicon glyphicon-plus"></span></button>
						</td>
						<td class='col-md-2'>
							<button class="btn btn-warning" type="button" onclick="removeClothingItemRow(this)"><span class="glyphicon glyphicon-minus"></span></button>
						</td>
				 </tr>
				 </table>
			 </div>
<div><br></div>
		  <br>
         <input type="file" id="pic" name="pic" accept="image/*">
         <div><br></div>
         <input type="submit" class="btn btn-primary" value="Submit" onclick="postQuestion()" >
         <div id="output" class="panel-heading"></div>
      </div>
   </div>
</div>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
<script type="text/javascript">
			var CSRF_TOKEN = '{{ csrf_token }}';
</script>
{% endblock %}