{%  extends 'dresscodeapp/base.html' %}

{% block content %}
<div class="container">
   <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
         <div class="row">
	         <div class='col-md-6'>
	               <div class="form-group">
	                  <label class="control-label">Due Date</label>
	                  <div class='input-group date' id='datetimepicker1'>
	                     <input type='text' class="form-control" />
	                     <span class="input-group-addon">
	                     <span class="glyphicon glyphicon-calendar"></span>
	                     </span>
	                  </div>
	               </div>
	            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Title</label>
                  <input type="text" class="form-control" name="fname" id="fname">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="form-group">
				  <label for="comment">Description</label>
				  <textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
            </div>
         </div>
         <div id="clothing-items">
	         <div class="row">
	         	<div class='col-md-2'>
	         		<div class="dropdown">
					  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Item
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a href="#">T-Shirt</a></li>
					    <li><a href="#">Shirt</a></li>
					    <li><a href="#">Hoodie</a></li>
					    <li><a href="#">Hoodie</a></li>
					    <li><a href="#">Suit</a></li>
					    <li><a href="#">Short Pants</a></li>
					    <li><a href="#">Jeans</a></li>
					    <li><a href="#">Pants</a></li>
					    <li><a href="#">Dress</a></li>
					    <li><a href="#">Skirt</a></li>
					    <li><a href="#">Shoes</a></li>
					    <li><a href="#">Swim Suit</a></li>
					    <li><a href="#">Hat</a></li>
					  </ul>
					</div>
	         	</div>
	         	<div class='col-md-2'>
	         		<div class="dropdown">
					  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Color
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Blue</a></li>
					    <li><a href="#">Red</a></li>
					    <li><a href="#">Black</a></li>
					    <li><a href="#">White</a></li>
					    <li><a href="#">Purple</a></li>
					    <li><a href="#">Green</a></li>
					    <li><a href="#">Yellow</a></li>
					    <li><a href="#">Brown</a></li>
					    <li><a href="#">Grey</a></li>
					  </ul>
					</div>
	         	</div>
	         	<div class='col-md-2'>
	         		<div class="dropdown">
					  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Pattern
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a href="#">None</a></li>
					    <li><a href="#">Stripes</a></li>
					    <li><a href="#">Dots</a></li>
					    <li><a href="#">Checked</a></li>
					  </ul>
					</div>
	         	</div>
	         	<div class='col-md-2'>
	         		<button class="btn btn-warning" type="button" onclick="addClothingItemRow()"><span class="glyphicon glyphicon-plus"></span></button>
	         	</div>
	         </div>
         </div>
<div><br></div>
         <input type="file" name="pic" accept="image/*">
         <div><br></div>
         <input type="submit" class="btn btn-primary" value="Submit">
      </div>
   </div>
</div>
<script>
 $(function () {
      $('#datetimepicker1').datetimepicker();
 });
</script>
{% endblock %}

COLORS = (
		('1', 'BLUE'),
		('2', 'RED'),
		('3', 'BLACK'),
		('4', 'WHITE'),
		('5', 'PURPLE'),
		('6', 'GREEN'),
		('7', 'YELLOW'),
		('8', 'BROWN'),
		('9', 'GREY'),
	)