<style>
.center{
    position:absolute;
    width:1150px;
    height:650px;

    top:50%;

	margin-left:0%;

}

table {
margin-bottom: 70px
}

.my-btn{background-color: #000000;
                      color: white;
                      padding: 12px 20px;
                      margin: 10px 2px;
                      border: none;
                      cursor: pointer;



                      text-align: center;
		}

img {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
	margin-right:10%;
}
.text {
   display: inline-block;
    vertical-align: middle;
}

.mycss
{
font-weight:normal;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:30px;text-align:middle;font-family:impact, sans-serif;line-height:1;margin:0px;padding:0px;
 padding: 12px 20px;
}

.mycss2
{
font-weight:normal;color:#FFFFFF;background-color:#9E9E9E;letter-spacing:1pt;word-spacing:2pt;font-size:21px;text-align:middle;font-family:impact, sans-serif;line-height:1;margin:0px;padding:0px;
padding: 5px 20px;
}

.mycss3
{
font-weight:normal;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:left;line-height:1;margin:0px;padding:10px;width:400px;
}

.mycss4
{
font-weight:bold;text-decoration:underline;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:left;line-height:1;margin:0px;padding:10px;width:400px;
}

.mycss6
{
font-weight:normal;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:middle;line-height:1;margin:0px;padding:5px;font-size: 130%;
}
</style>
{%  extends 'dresscodeapp/template.html' %}
{% load staticfiles %}
{% block content %}
<table id="questions_table" class="center"  background="http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg" >
    <tr>
    <td>
    <div style="text-align:center">
    <p class="mycss">
    Hello {{user.user}}
    </p>
    <p class="mycss">
    You have {{user.score}} points!
    </p>
    </div>
    <div style="text-align:left margin:0px;padding:120px;">
    <p class="mycss6">
    <b>Gender:</b> {{user.gender}}
    </p>
    <br>
    <p class="mycss6">
    <b>Birth date:</b> {{user.birth_date}}
    </p>
    <br>
    <p class="mycss6">
    <b>Date joined:</b> {{user.date_joined}}
    </p>
    <br>
    <p class="mycss6">
    <b>Questions number:</b> {{user.num_questions}}
    </p>
    <br>
    <p class="mycss6">
    <b>Answers number:</b> {{user.num_answers}}
    </p>
    </div>
    </td>
    
    </tr>
    
</table>
{% endblock %}
