{%  extends 'dresscodeapp/template.html' %}
{% load staticfiles %}
{% block content %}
<table id="questions_table" class="center"  background="http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg" >
    <tr>
    <td>
    <br>
    <div style="text-align:center">
    <p class="mycss">
    Hello {{curruser.user}}
    </p>
    <p class="mycss">
    You have {{curruser.score}} points!
    </p>
    </div>
    <div style="text-align:left margin:0px;padding:120px;">
    <img class="clothes" src="http://images.clipartpanda.com/clothes-clipart-wear-clothes-clipart-with-southern-girl-in-the-real-world-closet-conundrum.jpg" width="400" align="right" style="margin-right: -50px;">
    <p class="mycss6">
    <b><u>Gender:</u></b> {% if curruser.gender == 'f' %} Female {% else %} Man {% endif %} 
    </p>
    <br>
    <p class="mycss6">
    <b><u>Birth date:</u></b> {{curruser.dob}}
    </p>
    <br>
    <p class="mycss6">
    <b><u>Date joined:</u></b> {{curruser.date_joined}}
    </p>
    <br>
    <p class="mycss6">
    <b><u>Questions number:</u></b> {{curruser.num_questions}}
    </p>
    <br>
    <p class="mycss6">
    <b><u>Answers number:</u></b> {{curruser.num_answers}}
    </p>
    </div>
    </td>
    </tr>
    
</table>
{% endblock %}
