.my-btn{
	background-color: #000000;
	color: white;
	padding: 12px 20px;
	margin: 10px 2px;
	border: none;
	cursor: pointer;
	text-align: center;
}
.my-btn:hover {
	background-color: #a39a99;
	color: white;
}

.my-btn-yay {
    background-color: #000000;
    color: white;
}

.my-btn-yay:hover {
    background-color: #68c47c;
    color: white;
}

.my-btn-nay {
    background-color: #000000;
    color: white;
}

.my-btn-nay:hover {
    background-color: #f95967;
    color: white;
}

.my-btn-meh {
    background-color: #000000;
    color: white;
}

.my-btn-meh:hover {
    background-color: #a39a99;
    color: white;
}
        
