.my-btn{
	background-color: #000000;
	color: white;
	padding: 12px 20px;
	margin: 10px 2px;
	border: none;
	cursor: pointer;
	text-align: center;
}
.my-btn:hover {
	background-color: #a39a99;
	color: white;
}
